language: node_js
node_js:
  - 12
services:
  - docker
# Pre-testing installs
install:
  - echo "nothing needs to be installed"
# Scripts to be run such as tests
before_script:
  - echo "no tests"
script:
  - docker --version # print the version for logging
  - docker build -t udagram-backend-user .
  - docker tag udagram-backend-user anilnandamuri/udagram-backend-user:latest
after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push anilnandamuri/udagram-backend-user:latest